body {
    font-size: 1.25em;
    width: 70%;
    margin: 0 auto;
}


.oneven {
    float: left;
}

.even {
    float: right;
}

article {
    border: 1px solid black;
    margin: 10px;
}

img, h2, p {
    margin: 10px;
}